*{ 
    font-family: "Mulish", sans-serif;
}
header{
align-items: center;
display: flex;
justify-content: space-between;
padding: 10px 50px;

}
header img{
    height: 30px;
}
 h1{
    align-items: center;
    padding: 25px 3px;
    font-weight: 900;
    
}
nav ul li {
    list-style: none;
    text-decoration: none;
 
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav ul{
 
     display: flex;  
      gap: 25px;
      font-weight: 700;
     }
 form{
    border-radius: 12px;
    padding: 15px 15px;
    margin: 10px 30px;
    background: rgba(206, 194, 194, 0.346);
    
 }
 .container{
    align-items: center;
    text-align: center;
    height: 500px;
    
    justify-content: center;
    margin: 0px 200px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;

 }  
 .lekha{
    padding: 80px;
 } 
 .lekha h1{
    font-size: 40px;
    color: white;
 } 
 .lekha p{
    color: white;
    font-weight: 100;
 }
.container input{
    padding: 10px 5px; gap: 18px;
    text-align: left;
    outline: none;
    border: none;
    border-radius: 12px;

}
.btn{
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: orangered;
}
.popular{
    display: flex;
    padding: 20px 200px;
}
.popular img{
    height: 500px;
    width: 500px;
    
}
.popular .tour-1{
    padding: 0 auto;
    margin: 0 10px;
    text-align: left;
    ;
}
.tour-1 h1{
    font-size: 40px;
    padding: 0 auto;
}
.btn:hover{
    cursor:pointer;
}
nav li:hover{
    cursor: pointer;
}
.desti,.us,.deals,.btn-1{
    align-items: center;
    text-align: center;
}
.destination ,.choose,.contain,.extra{
    padding: 10px 200px;
    align-items: center;
    
}
.frow,.srow,.trow{
    padding: 10px 200px;
    gap: 25px;
     display: flex;
      justify-content: space-evenly;
    }

.cent{
        position: absolute;
        font-size: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
.fas{
        position: relative;
        text-align: center;
        color: white;
}
.service{
    display: flex;
    align-items: center;
   
    gap: 25px;
}
.hotel{
    background-color: aliceblue;  
    padding: 5px 20px;
}
.hotel-2{
    background-color: antiquewhite;
     padding: 5px 20px;
}
.hotel-3{
    align-items: center;
    justify-content: center;
   margin:20px 200px;
    background-color: beige;
    padding: 20px 20px;
}
.chata{
    background-image: url(./Images/Group\ 39.png);
    align-items: center;
    text-align: center;
    height: 450px;
    justify-content: right;
    margin: 10px 40px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.satorini{
    justify-content:center;
    position: relative;
     top: 45px;
     
    align-items: flex-end;
    text-align: left;
     padding: 5px 25px;
    float: right;
    background-color: rgba(255, 252, 247, 0.835);
    width: 350px;
    height: 300px;


}
.satorini ul{
    display: flex;
    list-style: none;
   align-items: center;
   justify-content: space-between;
}
.satorini ul li{
    padding-left: -20px;
    gap: 5px;
   
}
.satorini ul li img{
    height: 18px;
}
.chata-1{
    background-image: url(./Images/Group\ 40.png);
    align-items: center;
    text-align: center;
    height: 450px;
    justify-content: right;
    margin: 0px 40px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    height: 350px;
    width: 450px;
    /* display:grid ; */
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px 20px;
    border: 1px solid red;
  
   
}
.box input{ margin: 10px;
padding: 10px 18px;
outline: none;
border: none;
width: 90%;
}
.btn3{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    border: none;
    border-radius: 12px;
    background-color: orangered;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
#side{
     justify-content: space-between;
}

.centi{
    background-color: orangered;
    padding: 5px 15px;
    border-radius: 17px;
    line-height: 1px;
    position: absolute;
    font-size: 15px;
    width: 250px;
    left: 360px;
    bottom: 20px;
    height: 80px;
    transform: translate(-50%, -50%) rotate(-26deg);
}
footer{
    margin: 0 200px;
   height: 300px;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 160, 122, 0.353);
}
.icon{
    height: 32px;
}
.air,.rail{
    line-height: 20px;
    height: auto;
    width: 450px;
    
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(255, 88, 27, 0.35);
}
.air img, .rail img{
    width: 300px;
    padding: 0 50px;
    
}
.extra{
    display: flex;
    justify-content: space-between;
    gap: 45px;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

@media screen and (max-width:600px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;

    }
    nav ul li{
       font-size: 16px;
    }
    .checkbtn{
        display: block;
    }
 
   nav ul{
    display: none;
    
    margin: 50px 0;
    line-height: 30px;
   }
   #check:checked ul{
    left:0px;
   }
 .container{
    width: 100%;
    align-items: center;
    margin: 0;
 }
 .container .lekha{
    padding: 5px;
 }
 .container input{
    margin-bottom: 10px;
 }
   header{
    padding: 0;
   }
   .popular{
    padding: 0 10px;
    display: grid;
    width: 100%;
    
   }
   .tour-1{
    padding: 15px 0px;
    width: 350px;
   }
   .popular img{
    width: 90%;
    height: auto;
    /* padding-right:20px; */
   }
   .destination{
    padding: 0 15px;
    
   }
   .frow,.srow,.trow {
    display: flex;
    flex-direction: column;
    padding: 0;

 
   }
   .extra{
    padding:0px ;
  
    display: grid;
   }
 .air, .rail{
    width: 80%;
    border-radius: 25px;
 }
 .air img{
    width: 250px;
 }
 .rail img{
    width: 250px;
 }
 .fas img{
    width: 100%;
    padding-bottom:10px ;
 }
 .choose{
    padding: 2px;  
 }
 .service{
    display: block;
    gap: 10px;
    margin-bottom: 2px;
 
 }
 .hotel-3,.hotel,.hotel-2{
    padding: 10px;
    margin: 15px 5px; border-radius: 25px;   
 }
 .contain{
    padding: 0;
   
 }
 .satorini{
    margin-top: 130px;
    margin-right: 25px;
    font-size: 12px;
    width: 200px;
    height: auto;
    justify-content: center;
   align-items: center;
  /* float: none; */
 }
 .chata ,.chata-1{
  margin: 30px 0px;
    width: 90%;
    height: 500px;
    padding-right: 30px;
    
 }
.vid{
    width: 350px;
    height: 400px;
    padding: 0;
}
.popular form{
    margin: 0;
    width: 85%;
    padding-bottom: 15px;
}
.popular form input{
    padding: 10px;
}
#save img{
    margin: 0 auto;
    width: 95%;
    padding-top: 25px;

}
.centi{
   
    position: absolute;
    font-size: 15px;
    width: 200px;
    left: 215px;
    bottom: 10px;
    height: 80px;
    transform: translate(-50%, -50%) rotate(-26deg);



}
footer{
    padding: 15px 20px;
    margin: 0 auto;
    font-size: 15px;
}

}