*{ 
    font-family: "Mulish", sans-serif;
}
header{
align-items: center;
display: flex;
justify-content: space-between;
padding: 10px 50px;

}
header img{
    height: 30px;
}
 h1{
    align-items: center;
    padding: 25px 3px;
    font-weight: 900;
    
}
nav ul li{
    list-style: none;
 
}
nav ul{
     display: flex;  
      gap: 25px;
      font-weight: 700;
     }
 form{
    border-radius: 12px;
    padding: 15px 15px;
    margin: 10px 30px;
    background: rgba(206, 194, 194, 0.346);
    
 }
 .container{
    align-items: center;
    text-align: center;
    height: 500px;
    
    justify-content: center;
    margin: 0px 200px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;

 }  
 .lekha{
    padding: 80px;
 } 
 .lekha h1{
    font-size: 40px;
    color: white;
 } 
 .lekha p{
    color: white;
    font-weight: 100;
 }
.container input{
    padding: 10px 5px; gap: 18px;
    text-align: left;
    outline: none;
    border: none;
    border-radius: 12px;

}
.btn{
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: orangered;
}
.popular{
    display: flex;
    padding: 20px 200px;
}
.popular img{
    height: 500px;
    width: 500px;
    
}
.popular .tour-1{
    padding: 0 auto;
    margin: 0 10px;
    text-align: left;
    ;
}
.tour-1 h1{
    font-size: 40px;
    padding: 0 auto;
}
.btn:hover{
    cursor:pointer;
}
nav li:hover{
    cursor: pointer;
}
.desti,.us{
    align-items: center;
    text-align: center;
}
.destination ,.choose{
    padding: 10px 200px;
    align-items: center;
    
}
.frow,.srow,.trow{
    padding: 10px 200px;
    gap: 25px;
     display: flex;
      justify-content: space-evenly;
    }

.cent{
        position: absolute;
        font-size: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
.fas{
        position: relative;
        text-align: center;
        color: white;
}
.service{
    display: flex;
    align-items: center;
   
    gap: 25px;
}
.hotel{
    background-color: aliceblue;  
    padding: 5px 20px;
}
.hotel-2{
    background-color: antiquewhite;
     padding: 5px 20px;
}
.hotel-3{
    align-items: center;
    justify-content: center;
   margin:20px 200px;
    background-color: beige;
    padding: 20px 20px;
}